#grid-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#grid-cells {
  position: absolute;
  height: 100%;
  width: 100%;
}

.grid-cell {
  float: left;
}

.grid-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  z-index:10;
}

.grid-nav > div {
  float: left;
}

.escher-container {
  padding-top: 30px;
  height: 100%;
  width: 100%;
}
